<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Community</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/circle-menu.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
<% include ../partial/header.ejs %>
<div class="container-fluid" style="min-height: 100%;">
    <div class="row text-center" style="min-height: 100%;">
        <ul id="menu">
            <a class="menu-button icon-plus" href="#menu" title="Show navigation"></a>
            <a class="menu-button icon-minus" href="#" title="Hide navigation"></a>
            <li class="menu-item icon-picture"><a class="menu-item-back" href="#menu"></a></li>
            <li class="menu-item icon-headphones"><a class="menu-item-back" href="/questionnaire"></a></li>
            <li class="menu-item icon-home"><a class="menu-item-back" href="#menu"></a></li>
            <li class="menu-item icon-star"><a class="menu-item-back" href="#menu"></a></li>
            <li class="menu-item icon-envelope-alt"><a class="menu-item-back" href="/chat"></a></li>
            <li class="menu-item icon-cloud"><a class="menu-item-back" href="/community"></a></li>
            <li class="menu-item icon-heart"><a class="menu-item-back" href="/prescription"></a></li>
            <li class="menu-item icon-user"><a class="menu-item-back" href="#menu"></a></li>
            <li class="menu-item icon-film"><a class="menu-item-back" href="#menu"></a></li>
            <li class="menu-item icon-camera"><a class="menu-item-back" href="#menu"></a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-2 text-center"></div>
        <div class="col-md-8 text-center">
            <button type="button" class="btn btn-success">Nouvelle prescription disponible !</button>
        </div>
        <div class="col-md-4 text-center"></div>
    </div>
</div>
<script>
    function open(page) {
        console.log(page);
        window.parent.location.href = page;
    }
</script>
<script src="/js/jquery.min.js" crossorigin="anonymous"></script>
<script src="/bootstrap/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>