<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
    <title>Prescription</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>

<body>
    <% include ../partial/header.ejs %>
        <div class="container-fluid" style="min-height: 100%;">
            <div class="row text-center" style="min-height: 100%;">
                <!-- debut import -->


                <div class="col-md-10 col-md-offset-1">
                    <h4>Historique des prescriptions</h4>
                    <div class="table-responsive">
                        <table id="mytable" class="table table-bordred table-striped">
                            <!-- <thead>
                                <th><input type="checkbox" id="checkall" /></th>
                                <th>Date</th>
                                <th>Médicament</th>
                                <th>Dose</th>
                                <th>Contact</th>
                                <th>Voir</th>
                            </thead> -->
                            
                            <tbody>
                                <tr>
                                    <td><input type="checkbox" class="checkthis" /></td>
                                    <td style="font-weight: bold">Date</td>
                                    <td style="font-weight: bold">Médicament</td>
                                    <td style="font-weight: bold">Dosage</td>
                                    <td style="font-weight: bold">Contact</td>
                                    <td>
                                        <p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-eye-open"></span></button></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="checkthis" /></td>
                                    <td>12/05/2016</td>
                                    <td>Paracetamol</td>
                                    <td>1 à 4 /jour</td>
                                    <td>Infirmière Durant</td>
                                    <td>
                                        <p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-eye-open"></span></button></p>
                                    </td>
                                </tr>

                                <tr>
                                    <td><input type="checkbox" class="checkthis" /></td>
                                    <td>14/05/2016</td>
                                    <td>hrbgsk</td>
                                    <td>2 à 6 /jour</td>
                                    <td>Dr Dupond</td>
                                    <td>
                                        <p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-eye-open"></span></button></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="clearfix"></div>
                        <ul class="pagination pull-right">
                            <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>


        <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        <h4 class="modal-title custom_align" id="Heading">Edit Your Detail</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input class="form-control " type="text" placeholder="Mohsin">
                        </div>
                        <div class="form-group">

                            <input class="form-control " type="text" placeholder="Irshad">
                        </div>
                        <div class="form-group">
                            <textarea rows="2" class="form-control" placeholder="CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan"></textarea>


                        </div>
                    </div>
                    <div class="modal-footer ">
                        <button type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>



        <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
                    </div>
                    <div class="modal-body">

                        <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>

                    </div>
                    <div class="modal-footer ">
                        <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- fin import -->

        <script>
            function open(page) {
                console.log(page);
                window.parent.location.href = page;
            }

        </script>
        <script src="/js/jquery.min.js" crossorigin="anonymous"></script>
        <script src="/bootstrap/js/bootstrap.min.js" crossorigin="anonymous"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
</body>

</html>