.row {
    margin-left: 0px;
    margin-right: 0px;
}

.navbar {
    
    background-color: #4CAF50;
}

.login-form {
    background-color: #4CAF50;
}

.btn-login:hover {
    background-color: whitesmoke;
    color: #4CAF50;
}

.btn-login {
    background-color: #4CAF50;
    color: white;
    width: 100%;
}

.form-control {
    border-radius: 0;
}

.nav a {
    color: white;
}

.nav a:hover {
    color: #4CAF50;
}

.open > a {
    color: #4CAF50;
}

.panel .panel-heading {
    color: white;
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.panel-heading a {
    color: white;
}

.clickable {
    cursor: pointer;
}

.port-box {
    float: left;
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1.5%;
    width: 4em;
    height: 4em;
    color: white;
}

a .port-box {
    margin: 1.5em;
    margin-left: 0em;
    color: white;
    text-decoration: none;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

html {
    height: 100%;
}
body {
    min-height: 100%;
}
